/* Formulario */
.form-container {
    background-color: #fffffff6;
    border: 3px solid #fce18b;
    color: #efb810;         
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
    min-width: 300px; /* Ancho mínimo para formularios compactos */
    max-width: 50%; /* Limita el ancho en pantallas grandes */
    margin: 10vh auto; /* Centra verticalmente con margen automático */
    display: inline-block; /* Se ajusta automáticamente al contenido */
    text-align: left; /* Alineación del texto */
    box-sizing: border-box; /* Incluye padding y borde dentro del tamaño */
}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    border-bottom: 3px solid #facf40; /* Línea naranja */
    color: #fad14c; /* Naranja */
    font-size: 2.8rem;
}

/* Inputs y selects */
.form-group label {
    color: #efb810;
    font-weight: bold;
}

.form-group input, .form-group select {
    background-color: white;
    color: #efb810;
    border: 1px solid #efb810;
    padding: 0.5rem;
    width: 100%; /* Ajusta el tamaño a todo el ancho disponible */
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.form-group option {
    background-color: rgb(255, 242, 183);
    color: #7a7a7a;
}

.form-group input:focus {
    background-color: #fffcd1f6;
    border-color: #c5a352; /* Borde dorado suave */
    outline: none; /* Elimina el borde azul predeterminado */
    color: #efb810;
}

/* Botones */
.bot {
    background-color: #5f4b0f;
    color: rgb(214, 0, 0);
    transition: background-color 0.3s ease;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bot:hover {
    background-color: #ffcd37;
    color: #5f4b0f;
}

.btn1 {
    background-color: #ffb920; /* Naranja */
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border: 1px #ffc400 solid;
    border-radius: 5px;
    font-size: 1.2rem; /* Texto más grande */
    margin-bottom: 5vh;
    text-align: center;
    display: inline-block;
}
.btn1:hover {
    background-color: #ff9a00; /* Naranja más oscuro */
    border: 2px #ffffff solid;
}
.btn2 {
    background-color: #ffb920; /* Naranja */
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border: 1px #ffc400 solid;
    border-radius: 5px;
    font-size: 1.2rem; /* Texto más grande */
    margin: 1rem 0; /* Márgenes arriba y abajo */
    text-align: center;
    display: inline-block;
}
.btn2:hover {
    background-color: #ffffff; 
    color: #ffb920;/* Naranja más oscuro */
    border: 2px #ffc400 solid;
}
@media screen and (max-width: 576px) {
    .form-container {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .btn1 {
        font-size: 1rem;
    }
}
