.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    margin: 0 auto; /* Centra el contenedor */
    padding: 1rem; /* Espaciado interno */
    box-sizing: border-box; /* Incluye padding y borde dentro del ancho */
}

.section-title {
    font-size: 45px;
    color: #efb810;
    margin-bottom: 5vh; /* Reduce el espaciado vertical */
    text-align: center; /* Asegura que el texto esté centrado */
}

/* Contenedor flexbox para alinear los elementos */
.flex-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos salten a una nueva línea si es necesario */
    width: 100%; /* Ocupa todo el ancho disponible */
    justify-content: center; /* Alinea los elementos en el centro */
    align-items: center; /* Centra los elementos verticalmente */
    gap: 10px; /* Espaciado entre los elementos */
}

/* Select */
.form-select {
    font-size: 16px;
    background-color: #fffcd1f6;
    color: #efb810;
    border: 1px solid #efb810;
    border-radius: 10px;
    width: 250px; /* Ancho fijo */
    min-width: 200px; /* Ancho mínimo para evitar compresión */
}

/* Botón */
.btn2 {
    padding: 10px 20px;
    background-color: #ffc415;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn2:hover {
    border: 1px solid #efb810;
    color: gold;
    background-color: white;
}


.btn3 {
    background-color: #ffb920; /* Naranja */
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border: 1px #ffc400 solid;
    border-radius: 5px;
    font-size: 1.2rem; /* Texto más grande */
    margin-bottom: 5vh;
    text-align: center;
    display: inline-block;
}
.btn3:hover {
    background-color: #ff9a00; /* Naranja más oscuro */
    border: 2px #ffffff solid;
}
/* Media Queries para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .section-title {
        font-size: 30px; /* Ajusta el tamaño del título */
    }

    .form-select {
        width: 90%; /* Ocupa el 90% del ancho en pantallas pequeñas */
        min-width: unset; /* Elimina el ancho mínimo */
    }

    .btn2 {
        width: 100%; /* Acomoda el botón al ancho completo */
        text-align: center;
    }
}
