.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #efb810;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 3% auto 1%; /* Centrado horizontalmente con margen superior e inferior */
    text-align: left;
    box-sizing: border-box; /* Para asegurarse de que el padding no afecte el tamaño total */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #efb810;
    border-bottom: 2px solid #efb810;
}

form label {
    text-align: left;
    margin: 10px 0 5px;
    font-size: 17px;
    color: #666666;
}

form select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: #fffcd1f6;
    color: rgb(92, 92, 92);
    border: 2px solid #ffc825;
    width: 100%;
    border-radius: 10px;
}

form select:hover {
    background-color: #ffec7e;
    border-color: #ffec7e;
    color: #646464;
}
/* Botón */
.btn2 {
    padding: 10px 20px;
    background-color: #ffc415;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn2:hover {
    border: 1px solid #efb810;
    color: gold;
    background-color: white;
}


.btn3 {
    background-color: #ffb920; /* Naranja */
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border: 1px #ffc400 solid;
    border-radius: 5px;
    font-size: 1.2rem; /* Texto más grande */
    margin-bottom: 5vh;
    text-align: center;
    display: inline-block;
}
.btn3:hover {
    background-color: #ff9a00; /* Naranja más oscuro */
    border: 2px #ffffff solid;
}


/* Agregar estilo responsivo */
@media (max-width: 768px) {
    .container {
        padding: 15px; /* Menos espacio en pantallas más pequeñas */
    }

    form label {
        font-size: 15px; /* Reducir el tamaño de la fuente */
    }

    form select, form input[type="submit"] {
        font-size: 14px; /* Reducir el tamaño de la fuente en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px; /* Reducir el padding en pantallas muy pequeñas */
    }

    h1 {
        font-size: 18px; /* Reducir el tamaño del título */
    }

    form label {
        font-size: 14px; /* Ajuste de tamaño de fuente */
    }

    form select, form input[type="submit"] {
        font-size: 12px; /* Reducir el tamaño de la fuente en dispositivos más pequeños */
    }
}
